.reactBox:nth-of-type(1) div {
	background-position:center;
	background: url(../img/lp/1.jpg);
	background-size: cover;
}
/* 设置其他图片--out */
.reactBox:nth-of-type(2) div {
	background-position:center;
	background: url(../img/lp/2.jpg);
	background-size: cover;
}
.reactBox:nth-of-type(3) div {
	background-position:center;
	background: url(../img/lp/3.jpg);
	background-size: cover;
}
.reactBox:nth-of-type(4) div {
	background-position:center;
	background: url(../img/lp/4.jpg);
	background-size: cover;
}
.reactBox:nth-of-type(5) div {
	background-position:center;
	background: url(../img/lp/5.jpg);
	background-size: cover;
}
.reactBox:nth-of-type(6) div {
	background-position:center;
	background: url(../img/lp/6.jpg);
	background-size: cover;
}
/* 设置其他图片--in */
.reactBox:nth-of-type(7) div {
	background-position:center;
	background: url(../img/lp/7.jpg);
	background-size: cover;
}
.reactBox:nth-of-type(8) div {
	background-position:center;
	background: url(../img/lp/8.jpg);
	background-size: cover;
}
.reactBox:nth-of-type(9) div {
	background-position:center;
	background: url(../img/lp/9.jpg);
	background-size: cover;
}
.reactBox:nth-of-type(10) div {
	background-position:center;
	background: url(../img/lp/10.jpg);
	background-size: cover;
}
.reactBox:nth-of-type(11) div {
	background-position:center;
	background: url(../img/lp/11.jpg);
	background-size: cover;
}
.reactBox:nth-of-type(12) div {
	background-position:center;
	background: url(../img/lp/12.jpg);
	background-size: cover;
}